# --- Entorno virtual ---
venv/
.env/
.venv/

# --- Archivos de Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec

# --- Archivos de dependencias compiladas ---
build/
dist/
wheels/

# --- Configuración de IDEs ---
.vscode/
.idea/
*.iml

# --- Archivos del sistema ---
.DS_Store
Thumbs.db

# --- Configuración local ---
.env
.env.local
requirements.txt
